

.leftside, .rightside {
  height: 100vh;
  overflow-y: auto;
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}




.leftside {
  background: 	#e1e6eb		;
    padding-top: 20px;
}

.rightside {
  background: #ececec;
}



.barra2 {
    background:#23232e;
    margin: 4px 16px;
    padding: 12px;
    color: var(--text-secondary);
    display: flex;
    border-radius: 2px;
}

.barra {
    flex-grow: 1;
}

.textoBarra{
    flex-basis: 100%;
    display: flex;
    align-items: center;
}
.Perfil {
    margin-right: 12px;
    display: flex;
    align-items: center;
}
.aaaa23 {
    font-weight: 600;
    font-size: 14px;
}
.Perfil img {
    width: 32px;
    border-radius: 4px;
}

article.anuncioBox {
    padding: 16px;
}
figure.imagen2 {
    margin: 0;
    float: left;
    margin-right: 16px;
    background: #23232e;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    align-items: flex-start;

    max-width: calc(50% - 16px);
    margin-bottom: 16px;
    width: 100%;
    flex-wrap: wrap;
}
.texto {
    color: #3b3b47;
}

.imagen {
    flex-basis: 100%;
    display: flex;
}

header.texto h1 {
    margin: 0;
    margin-bottom: 16px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    color: #0a0a0a;
    line-height: 105%;
    word-break: break-word;
}

.descripcionAnuncio {
    line-height: 1.7;
    word-break: break-word;
    margin-bottom: 16px;
}
figure.imagen2 img {

    width: 100%;
    min-width: 20.2vw;
    height: 100%;
    border-radius: 4px;
}

.btn-primary {
  margin-top: 1vh;
}
.text-center {
  text-align: center;
  font-size: 20px;
}

.tituloAnuncio {
  font-family: 'Lato', sans-serif;
}

.aeae {
  background-color: #23232e;
  padding: 2px;

}

.aeae1 {
  background-color: #23232e;
}

.aeae2 {
  margin-top: 20px;
  background-color: #23232e;
}


.comment {
    flex-basis: 100%;
    display: flex;
    align-items: flex-start;
    padding: 16px;
    margin-bottom: 2px;
}

.commentAvatar {
    margin-right: 12px;
}

.commentBody {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.commentMetadata {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;

}



span.author {
    font-weight: 700;
    font-size: 14px;
    color: #8a8a8a;
    margin-right: 8px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.pointer {
    cursor: pointer;
}


.commentContent {
  word-break: break-word;
}

.commentList {
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
}
.avatarColoryellow {
    background: #ebc310;
    width: 50px;
    height: 50px;
}
.avatarColorgreen {
    background: #4aa813;
    width: 50px;
    height: 50px;
}
.avatarColorred {
    background: #c43718;
    width: 50px;
    height: 50px;
}
.avatarColorblue {
    background: #1857c4;
    width: 50px;
    height: 50px;
}
.avatarColorBlack {
    background: #242323;
    width: 50px;
    height: 50px;
}
.avatarColorWhite {
    background: #f5f2f2;
    width: 50px;
    height: 50px;
}
.avatarColorMulti {
    width: 50px;
    height: 50px;
    background: linear-gradient(#fdcd3b 25%, #136699 25%, #136699 50%, #3d9932 50%, #3d9932 75%, #ca2b00 75%, #ca2b00 100%);
  }
  .avatarColorInvertido {
      width: 50px;
      height: 50px;
      background: linear-gradient(#0232c4 25%, #ec9966 25%, #ec9966 50%, #c266cd 50%, #c266cd 75%, #35d4ff 75%, #35d4ff 100%);
    }

    .commentList:hover {
      background: 	#C0C0C0;
    }




    @media (hover: none) and (pointer: coarse)
     {
       .jijo {
         flex-wrap: wrap;
         display: block;
        height: calc(100vh - 50px);
          flex-flow: row;
       }

       .leftside {
         padding-top: 10px;
         padding-bottom: 30px;
         flex-basis: 100vw;
         height: 100vh;
         width: 100vw;
         height: auto;
         position: static;
       }

       .rightside {
        flex-grow: 1;
        height: 100vh;
        width: 100vw;
        margin: 0;
        flex-basis: 100%;
    }

    .aeae23 {
      height: 50px;
    }
    .avatarColoryellow {
        width: 100px;
        height: 100px;
    }
    .avatarColorgreen {
        width: 100px;
        height: 100px;
    }
    .avatarColorred {
        width: 100px;
        height: 100px;
    }
    .avatarColorblue {
        width: 100px;
        height: 100px;
    }
    .avatarColorBlack {
        width: 100px;
        height: 100px;
    }
    .avatarColorWhite {
        width: 100px;
        height: 100px;
    }
    .avatarColorMulti {
        width: 100px;
        height: 100px;
      }
      .avatarColorInvertido {
          width: 100px;
          height: 100px;
        }

        span.author {
            font-size: 28px;
            align-items: center;
        }

        .comment {
            padding: 32px;
            margin-bottom: 4px;
        }
        .commentContent {
          font-size: 26px;
          word-break: break-word;
        }

        header.texto h1 {
            font-size: 42px;
            font-weight: 600;
        }
        .descripcionAnuncio {
          font-size: 22px;
        }
     }
